#progress{
    margin-left: 8px;
    background-color: blue;
    border-radius: 15px;
}
#edit{
    margin-left: 8px;
    background-color: orange;
    border-radius: 15px;
}
#delete{
    margin-left: 10px;
    background-color: red;
    border-radius: 15px;
}