ul{
    position: relative;
    left: 27%;
    width: 36%;
   
}

ul li{
    height: 20px;
    background-color: antiquewhite;
    list-style-type: none;
    padding: 10px 0px 10px 20px;
    border-radius: 20px;
    margin-top: 10px;
}

button{
    width: 100px;
}
.list_item{
    display: flex;
    position: relative;
    bottom: 41px;
    left: 280px;
}
.li_btn_div{
  
   
}

.li_btn{
    border-radius: 15px;
    margin-left: 10px;
}
#name{
    color:blue
}
#email{
    margin-left: 25px;
    color:red
}